@import "tailwindcss";
@plugin "daisyui";

@theme {
  --color-cp-primary: #fff35c;
  --color-cp-secondary: #09484c;
  --color-cp-font: #2f6d7c;
}

/* html,
body {
  max-width: 100%;
  overflow-x: hidden;
} */

@import url("https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap");
@layer base {
  * {
    font-family: "Didact Gothic", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  .didact-gothic-regular {
    font-family: "Didact Gothic", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
}
